.scrutari-column-Base label, .scrutari-column-Lang label, .scrutari-column-Category label, .scrutari-column-Corpus label, #optionsPanelBody label {
font-weight: normal;
display: inline;
margin-bottom: 0;
}
.panel-body img {
    vertical-align: baseline;
}

div.panel-heading {
    padding-top : 5px;
    padding-bottom: 5px;
}


h1 {
font-size: 16px;
}

h3 {
font-weight: bold;
margin-top: 35px;
margin-bottom: 20px;
}

h3:first-child {
margin-top: 0;
}

h4.panel-title {
font-size: 1.0em;

}

div.panel {
margin-bottom: 0;
}

.scrutari-disabled, span.scrutari-disabled {
color: grey;
}

span.scrutari-active {
color: green;
}

.scrutari-Count {
    font-family: monospace;
    font-weight: bold;
    text-align: right;
}

#basePanelBody, #langPanelBody, #categoryPanelBody, #corpusPanelBody {
    padding-top : 3px;
}

#parametersDisplayButton {
    width: 100%;
}

#parametersArea {
    margin-bottom: 25px;
}

#resultArea {
    margin-top: 25px;
    margin-bottom: 10px;
}



.scrutari-fichecount-Filter {
color: green;
}

.scrutari-fichecount-None {
color: red;
}

span.scrutari-Mark {
background-color: #e9e9e9;
}

div.scrutari-fiche-Icon {
float: left;
margin-top: 0;
}

p.scrutari-fiche-Titre {
font-size: 1.1em;
margin-bottom: 4px;
margin-left: 21px;
margin-top: 0;
}

p.scrutari-fiche-Soustitre {
margin-bottom: 3px;
font-style: italic;
margin-left: 31px;
}

p.scrutari-fiche-Annee {
font-size: 1.0em;
margin-bottom: 3px;
font-style: italic;
margin-left: 35px;
}

div.scrutari-fiche-Block {
margin-bottom: 15px;
padding-left: 3px;
border-left-style: solid;
border-left-width: 1px;
border-left-color: #a0a0a0;
}

span.scrutari-intitule-Complement, span.scrutari-intitule-Attribute {
font-style: italic;
}

span.scrutari-intitule-Motcle {
font-style: italic;
font-variant: normal;
}

p.scrutari-fiche-Motcle {
font-variant: small-caps;
font-size: 1.0em;
margin-left: 35px;
margin-bottom: 2px;
}

p.scrutari-fiche-Complement, p.scrutari-fiche-Attribute {
margin-left: 35px;
font-size: 1.0em;
margin-bottom: 2px;
}

p.scrutari-fiche-AttrBlocks {
margin-left: 50px;
font-size: 1.0em;
margin-bottom: 2px;
}

p.scrutari-links-Title {
margin-top: 30px;
margin-bottom: 10px;
word-wrap: break-word;
}

p.scrutari-export-Atom {
    background-image: url("export_atom.png");
    min-height: 17px;
    padding-left: 18px;
    background-repeat:  no-repeat;
}

p.scrutari-export-Ods {
    background-image: url("export_ods.png");
    min-height: 17px;
    padding-left: 18px;
    background-repeat:  no-repeat;
}

.scrutari-history-Block {
padding-top: 2px;
padding-bottom: 2px;
padding-left: 3px;
border-left-style: solid;
border-left-width: 1px;
border-left-color: #515151;
margin-top: 6px;
margin-left: 6px;
word-wrap: break-word;
}

.scrutari-history-Active {
background-color: #e9e9e9;
}

.scrutari-fiche-CurrentBlock {
background-color: #e9e9e9;
}

.scrutari-icon-Loader {
background-image: url("ajax-loader.gif");
position: relative;
display: inline-block;
height: 16px;
width: 16px;
}